
<form method="get">
    <input type="hidden" name="page" value="collaborateurs">
    <tr>
        <td>
            <button type="submit" class="btn btn-sm btn-ciel"><i class="fa-solid fa-magnifying-glass"></i></button>
        </td>
        <td>
            <input type="text" name="prenom" value="__PRENOM__" class="form-control" placeholder="Filtrer par prénom">
        </td>
        <td>
            <input type="text" name="nom" value="__NOM__" class="form-control" placeholder="Filtrer par nom">
        </td>
        <td></td>
        <td>
            <input type="email" name="email" value="__EMAIL__" class="form-control" placeholder="Filtrer par email">
        </td>
        <td>
            <input type="text" name="telephone" value="__TELEPHONE__" class="form-control" placeholder="Filtrer par téléphone">
        </td>
    </tr>
</form>