<div class="col-3 mb-4 mt-4">
    <div class="card mb-4 d-flex h-100 flex-column" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sujet : __SUJET__</h5>
            <p class="card-text">Envoyé le : __DATE__</p>
            <p class="card-text">De Mr/Mme : __ENVOYEUR__</p>
            <p class="card-text">__MESSAGE__<p>
            <form action="" method="POST">
                <input type="hidden" name="contact_id" value="__CONTACT_ID__">
                <button type="submit" class="btn btn-danger" name="supprimer_contact">Supprimer</button>
            </form>
        </div>
        <p class="card-footer"><a href="mailto:__EMAIL__">__EMAIL__</a></p>
    </div>
</div>
